.transactionCardWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.card {
    width: 100%;
    min-width: 250px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(128, 0, 128, 0.15);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(128, 0, 128, 0.2);
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #4b4b4b;
}

.card p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    widows: 2;
    orphans: 2;
}

.card .amount {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2e4053;
}

.card .extraInfo {
    font-size: 0.9rem;
    color: #aaa;
}

.titleText {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 50px;
    font-size: 1rem; /* Tamaño base para textos */
    line-height: 1.5;
}

.titleText h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #4b4b4b;
    margin-bottom: 1rem;
    widows: 2;
    orphans: 2;
}

.titleText p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    widows: 2;
    orphans: 2;
}
