.card {
    width: 50%;
    border: 1px solid rgb(213, 213, 213);
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem auto;
    transition: transform 0.5s ease;
    &:hover {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
    } 
}

.loginForm {
    display: block;
    width: 100%;
    position: relative;
    margin: 20px auto;
}

.inputLogin {
    width: 100%;
    line-height: 1.5rem;
    margin: 5px 0;
}

.loginButton {
    border: none;
    border-radius: 10px;
    padding: 10px 5px;
    background-color: #0b5edc;
    color: #c2d3ed;
    cursor: pointer;
}

.loginButton:hover {
    color: #0b5edc;
    background-color: #c2d3ed;
}