.mainForm {
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  
}

/* Estilos comunes para el título y texto explicativo */
.introText {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
}

.introText h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4b4b4b;
  margin-bottom: 1rem;
  widows: 2;
  orphans: 2;
  hyphens: auto;
}

.introText p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
  widows: 2;
  orphans: 2;
  hyphens: auto;
}

/* Estilos comunes para las cards */
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  min-width: 200%;
  max-width: 920;
  flex: 1 1 45%;
  box-sizing: border-box;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.3s ease;
  
}

/* Estilo para el comportamiento de las cards */
@media (min-width: 200px) and (max-width: 900px) {
  .card {
    width: 100%; /* Las cards ocupan todo el ancho, colocándose una debajo de otra */
    flex: 1 1 100%; /* Las cards ocupan el 100% del contenedor */
    max-width: none; /* Se elimina el max-width para que ocupen todo el espacio disponible */
  }
}

@media (min-width: 700px) {
  .card {
    width: 45%; /* Dos cards por fila */
    flex: 1 1 45%; /* Flexibilidad para adaptarse al espacio */
  }
}

/* Estilos de los botones y otros elementos */
.addGoalButton {
  background-color: transparent;
  color: rgb(106, 63, 207);
  padding: 15px 30px;
  font-size: 20px;
  border: 2px solid rgb(106, 63, 207);
  border-radius: 10px;
  cursor: pointer;
  width: 90%;
  text-align: left;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.4s ease-in-out;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.addGoalButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(157, 102, 239), rgb(162, 119, 212));
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.addGoalButton:hover {
  background-color: rgb(106, 63, 207);
  color: white;
  border-color: rgb(106, 63, 207);
  box-shadow: 0 0 15px rgb(106, 63, 207);
  transform: translateY(-5px);
}

.addGoalButton:hover::before {
  opacity: 1;
}

.addGoalButton:active {
  transform: translateY(2px);
  box-shadow: 0 0 10px rgba(236, 123, 236, 0.5);
}

.submitButton, .cancelButton {
  background-color: rgba(100, 44, 163, 0.8);
  color: white;
  padding: 14px 24px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 48%;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 0 2%;
}

.submitButton:hover {
  background-color: #444141;
}

.cancelButton {
  background-color: #7a12a6;
}

.cancelButton:hover {
  background-color: #540457;
  color: #e1c2f0;
}

.DialogContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  width: 400px;
  margin: auto;
  background-color: #fff;
  border-radius: 12px;
  animation: fadeIn 0.6s ease-in-out;
  
}

.dialog {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  animation: slideUp 0.6s ease-in-out;
}

.DialogActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.DialogActions button {
  width: 48%;
}

.DialogTitle {
  font-size: 30px;
  font-weight: bold;
  color: #4b4b4b;
  margin-bottom: 1rem;
  animation: fadeIn 0.6s ease-in-out;
  position: relative;
  top: 4px;
}

.DialogTitle:hover {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 4px 5px rgba(106, 63, 207, 0.3), 0 5px 10px rgba(106, 63, 207, 0.2);
  }
  50% {
    text-shadow: 0 4px 10px rgba(106, 63, 207, 0.4), 0 6px 15px rgba(106, 63, 207, 0.3);
  }
  100% {
    text-shadow: 0 4px 5px rgba(106, 63, 207, 0.3), 0 5px 10px rgba(106, 63, 207, 0.2);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dueDateLabel, .dueDateInput {
  margin: 0;
}

.MuiInputBase-root, .MuiInputLabel-root {
  margin-top: 0 !important;
}
