.goalCard {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 45%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

.goalCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

.goalCardHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.goalCardHeading h3 {
  font-size: 1.4rem;
  color: #222;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dueDate {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
  font-style: italic;
}

.goalCardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.amountWrapper {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.current, .total {
  font-size: 1rem;
  font-weight: bold;
  color: #444;
}

.progressBarWrapper {
  width: 100%;
}

.progressPercentage {
  font-size: 0.9rem;
  font-weight: 500;
  color: #777;
  text-align: center;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.goalsAction {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}

.goalsAction:hover {
  background-color: #004494;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.deleteAction {
  background-color: #e53935;
}

.deleteAction:hover {
  background-color: #c62828;
}

.deleteIcon {
  font-size: 1.4rem;
  color: #fff;
}

@media (max-width: 768px) {
  .goalCard {
    padding: 15px;
  }

  .goalCardHeading h3 {
    font-size: 1.2rem;
  }

  .dueDate {
    font-size: 0.85rem;
  }

  .buttonsWrapper {
    flex-wrap: wrap;
  }

  .goalsAction {
    font-size: 0.8rem;
    padding: 12px 20px;
  }

  .deleteIcon {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .goalCard {
    padding: 10px;
  }

  .goalCardHeading {
    flex-direction: column;
    align-items: flex-start;
  }

  .goalCardHeading h3 {
    font-size: 1rem;
    text-align: left;
  }

  .goalsAction {
    font-size: 0.75rem;
    padding: 12px 20px;
  }

  .deleteIcon {
    font-size: 1rem;
  }
}