.goalsAction {
  background-color: rgba(100, 44, 163, 0.8); /* violeta suave */
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}

.goalsAction:hover {
  background-color: #444141; /* violeta más oscuro al pasar el cursor */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.editIcon {
  font-size: 1rem;
  color: #fff;
}

.dialogTitle {
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 18px;
  font-size: 1.6rem;
  animation: fadeIn 0.6s ease-in-out;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  width: 400px;
  border-radius: 16px;
  animation: fadeIn 0.6s ease-in-out;
}

.inputField {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 16px;
  font-size: 1rem;
}

.dueDateLabel {
  margin-top: 0; /* Reducido para acercar la etiqueta "Due date" */
  margin-bottom: 0; /* Elimina el margen inferior para pegarlas más */
  display: inline-block;
}

.cancelButton, .addGoalButton {
  padding: 12px 20px;
  font-size: 0.9rem;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  text-align: center;
  margin: 10px auto;
  
}


.addGoalButton {
  background-color: rgba(100, 44, 163, 0.8); /* violeta suave */
  color: white;
  padding: 14px 24px; /* Mayor espaciado */
  font-size: 18px; /* Tamaño de fuente un poco mayor */
  border: none;
  border-radius: 30px; /* Bordes parcialmente redondeados */
  cursor: pointer;
  width: 48%; /* Los botones ocupan el 48% del contenedor */
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 0 2%; /* Espaciado entre los botones */
  margin-top: 10px;
  margin-bottom: 20px;
}

.addGoalButton:hover {
  background-color: #444141; /* violeta más oscuro al pasar el cursor */
  color: #ffffff;
}

.cancelButton {
  background-color: #7a12a6; /* violeta */
  color: white;
  padding: 14px 24px; /* Mayor espaciado */
  font-size: 18px; /* Tamaño de fuente un poco mayor */
  border: none;
  border-radius: 30px; /* Bordes parcialmente redondeados */
  cursor: pointer;
  width: 48%; /* Los botones ocupan el 48% del contenedor */
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 0 2%; /* Espaciado entre los botones */
  margin-top: 10px;
  margin-bottom: 20px;
}

.cancelButton:hover {
  background-color: #540457; /*  violeta más oscuro al pasar el cursor */
  color: #e1c2f0;
}

.DialogActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.DialogActions button {
  margin-top: 20px;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .DialogActions button {
    width: 48%; 
    margin-bottom: 10px;
  }
  
  .DialogTitle {
    font-size: 24px; 
  }
  
  .dialog {
    width: 90%; 
    padding: 20px; 
  }
  
  .DialogContent {
    padding: 15px; 
  }
}
